/apm.yml                           @sergio-sisternes-epam
/.apm/                             @sergio-sisternes-epam
/.github/workflows/                @sergio-sisternes-epam
/README.md                         @sergio-sisternes-epam
/CONTRIBUTING.md                   @sergio-sisternes-epam
/SECURITY.md                       @sergio-sisternes-epam
/SUPPORT.md                        @sergio-sisternes-epam
/AUTHORS                           @sergio-sisternes-epam
/.github/ISSUE_TEMPLATE/           @sergio-sisternes-epam
/.github/PULL_REQUEST_TEMPLATE.md  @sergio-sisternes-epam
/.github/release.yml               @sergio-sisternes-epam
